<%- include('header') %>
  <body>
    <%- include('navbarUser') %>
    <div class="container mt-4">
        <div class="pagecontent">
            <div class="row">
                <div class="p-5 text-center bg-light">                      
                    <p>Itt jönnek sorban a bejegyzések card-ként ciklusban...</p>                
                    <p>/Lehet közte saját is, ami szerkeszthető - Mert be van lépve a felhasználó/</p>                
                  </div>
            </div>
        </div>
    </div>
  </body>
</html>