<%- include('header') %>
  <body>
    <%- include('navbarVisitor') %>
    <div class="container mt-4">
      <div class="pagecontent">
          <div class="row">
              <div class="p-5 text-center bg-light">                      
                  <p>Itt jönnek sorban a bejegyzések card-ként ciklusban...</p>                
                  <p>/Nem lehet közte szerkeszthető - Mert még nincs belépve a felhasználó/</p>                
                </div>
          </div>
      </div>
  </div>
  </body>
</html>