<%- include('header') %>
<body>
    <header>
      <!-- Navbar -->
      <%- include('navbarVisitor') %>
  
      <!-- Jumbotron -->
      <div class="p-5 text-center bg-light" style="margin-top: 58px;">
        <br>
        <br>       
        
      </div>
      <!-- Jumbotron -->
    </header>
  </body>
</html>