<nav class="navbar navbar-expand-lg fixed-top" role="navigation">
  <div class="container">
      <a class="navbar-brand" href="/history"><img src="/images/logo.png" alt="Logo" style="max-width: 60px; height: auto;"></a>        
      <h2 class="ms-2 mb-0">MyTweet</h2>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
          &#9776;
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar">            
          <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
              
              <li class="dropdown order-1">
                  <!-- <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-primary dropdown-toggle">Menü <span class="caret"></span></button> -->
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user.name.nickName %> <img src="/images/avatars/<%= user.avatar %>.png" width="60" height="60" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right mt-1">
                    <li class="p-3">
                        <div class="form-group">
                          <a href="/tweet" class="btn btn-primary">Új bejegyzés</a>                          
                        </div>
                        <div class="form-group">
                          <a href="/profile">Profilom</a>                          
                        </div> 
                        <div class="form-group">
                          <a href="/logout">Kijelentkezés</a>                          
                        </div>                        
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>
