<%- include('header') %>
<%- include('navbarUser') %>
<div class="container mt-4">
    <div class="pagecontent">
        <div class="row">
            <div class="p-5 text-center bg-light">                      
                <p>Profil</p>                
              </div>
        </div>
    </div>
</div>