<%- include('header') %>
<%- include('navbarUser') %>
<div class="container mt-4">
    <div class="pagecontent">
        <div class="row">
            <div class="p-5 bg-light">                         
                <%- include('forms/tweet') %>
            </div>
        </div>
    </div>
</div>