<div class="d-flex justify-content-end align-items-center">
    <form method="POST" class="d-flex flex-column">
        <div class="mb-3">
            <input class="form-control" type="email" placeholder="E-mail" aria-label="Email" name="email">
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" placeholder="Jelszó" aria-label="Password" name="password">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Bejelentkezés"/>
        </div>
        <div class="mb-3">
            <a href="/registration" class="btn btn-primary">Regisztráció</a>
        </div>
        <div class="mb-3">
            <a href="/forgotpassword" class="btn btn-primary">Elfelejtett jelszó</a>
        </div>
    </form>
</div>